@model IEnumerable<CarDto>
@{
    ViewData["Title"] = "Admin Panel";

}
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="card col-4 d-inline-block mx-1" style="width: 18rem;">
            <form method="Get">
                <img class="card-img-top" src="~/Images/Cars/Awesome_Car_Image.jpeg" alt="Profile Image">
                <div class="card-body">
                    <button asp-controller="Admin" asp-action="AddCar" class="btn btn-primary">Araba Ekle</button>
                </div>
            </form>
        </div>
            }
        



        @foreach (var item in Model)
        {
            <div class="card col-4 d-inline-block mx-1" style="width: 18rem;">
                <form method="get">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Profile Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.CarSerial.CarModel.CarMark.Name @item.CarSerial.CarModel.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <button name="Id" value="@item.Id" type="submit" asp-action="UpdateCar" asp-controller="Worker" class="btn btn-primary">Düzenle</button>
                    </div>
                </form>
            </div>
        }
    </div>