@model IEnumerable<RequestDto>
@{
    ViewData["Title"] = "Admin Panel";

}
<div class="row">
    @if (User.IsInRole("Admin"))
    {
    <div class="col-12 border border-1">
        <h1 class="text-center">Bekleyen İstekler</h1>
        @foreach (var item in Model)
        {

            @if (item.ConfirmState == Torcar.CORE.Enums.ConfirmState.Waiting)
            {
                <div class="card col-4 d-inline-block mx-1" style="width: 18rem;">
                    <form method="post">
                        <img class="card-img-top" src="@item.Advert.Car.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@item.Advert.Car.CarSerial.CarModel.CarMark.Name @item.Advert.Car.CarSerial.CarModel.Name</h5>
                            <p class="card-text">Aracı İsteyen Kişi:<button type="submit" asp-action="UpdateMember" name="Id" value="@item.User.Id" class="btn btn-primary">@item.User.Name</button></p>
                            <p class="card-text">Toplam Fiyat: @item.TotalPrice</p>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" name="Id" value="@item.Id" asp-action="RequestSuccess" class="btn btn-success">İsteği Onayla</button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" name="Id" value="@item.Id" asp-action="RequestFail" class="btn btn-warning">İsteği Reddet</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
        }
        
    </div>
    }
    <div class="col-12 border border-1">
        <h1 class="text-center">Onaylananlar</h1>
        @foreach (var item in Model)
        {
            @if (item.ConfirmState == Torcar.CORE.Enums.ConfirmState.Success)
            {
                <div class="card col-4 d-inline-block mx-1" style="width: 18rem;">
                    <form method="post">
                        <img class="card-img-top" src="@item.Advert.Car.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@item.Advert.Car.CarSerial.CarModel.CarMark.Name @item.Advert.Car.CarSerial.CarModel.Name</h5>
                            <p class="card-text">@item.Advert.Car.Description</p>
                            <p class="card-text">Toplam Fiyat: @item.TotalPrice</p>
                            <p class="card-text">Başlangıç Tarihi: @item.RentStart</p>
                            <p class="card-text">Bitiş Tarihi: @item.RentEnd</p>

                        </div>
                    </form>
                </div>
            }
        }
    </div>
    <div class="col-12 border border-1">
        <h1 class="text-center">Onaylanmayanlar</h1>
        @foreach (var item in Model)
        {
            @if (item.ConfirmState == Torcar.CORE.Enums.ConfirmState.Fail)
            {
                <div class="card col-4 d-inline-block mx-1" style="width: 18rem;">
                    <form method="post">
                        <img class="card-img-top" src="@item.Advert.Car.ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title">@item.Advert.Car.CarSerial.CarModel.CarMark.Name @item.Advert.Car.CarSerial.CarModel.Name</h5>
                            <p class="card-text">@item.Advert.Car.Description</p>
                            <p class="card-text">Toplam Fiyat: @item.TotalPrice</p>
                            <div class="row">
                                <button type="submit" name="Id" value="@item.Id" asp-action="ActiveAdvert" class="btn btn-primary">İlanı Paylaş</button>

                            </div>
                        </div>
                    </form>
                    <form method="get">
                        <button type="submit" name="Id" value="@item.Id" asp-action="UpdateAdvert" class="btn btn-outline-warning col-4 m-1">İlanı Düzenle</button>
                    </form>
                </div>
            }
        }
    </div>
</div>
</div>
</div>